<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Leitura de imagens</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2>Envio de Notas</h2>
                <form>
					<div class="form-group">
						<input id="fileupload" type="file" name="fileupload" accept="images/*" class="form-control-file"/> 
						<input type="button" value="Ler Texto" onclick="uploadFile()">
					</div>
				</form>
			</div>
			
		</div>
	</div>
	<div class="container">
    	<div class="box">
    		<div class="box-row">
  				<div class="box-cell box1" id="infos">
  				</div>
  			</div>
  		</div>
	</div>
</section>

<script>

	async function uploadFile() 
	{
	  let formData = new FormData(); 
	  
	  formData.append("file", fileupload.files[0]);
	  let response = await fetch('/sendNote', {
	    method: "POST", 
	    body: formData
	  }).then( result => result.json() ); 
	
	  var div = document.getElementById("infos");
      
	  console.log(response.infos);
	  
      div.innerText = response.infos;
	}
	
</script>

</body> 
</html>